.header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #777;
    margin-top: 50px;
}

.header h2 {
    letter-spacing: 1px;
    color: #504e4e;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    margin: 90px 0;
}
.skeleton{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}